<?xml version="1.0"?>

<config>
    <modules>
        <Playground_Module2Task2>
            <version>0.1.0</version>
        </Playground_Module2Task2>
    </modules>
    <global>
        <resources>
            <module2task2_setup>
                <setup>
                    <module>Playground_Module2Task2</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </module2task2_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <user_comment>
                    <to_order>*</to_order>
                </user_comment>
            </sales_convert_quote>
            <sales_convert_order>
                <user_comment>
                    <to_quote>*</to_quote>
                </user_comment>
            </sales_convert_order>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Playground_Module2Task2 before="Mage_Checkout">Playground_Module2Task2_Checkout</Playground_Module2Task2>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <module2task2>
                    <file>module2task2.xml</file>
                </module2task2>
            </updates>
        </layout>
        <translate>
            <modules>
                <module2task2>
                    <files>
                        <default>Playground_Module2Task2.csv</default>
                    </files>
                </module2task2>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <module2task2_adminhtml>
                    <file>module2task2.xml</file>
                </module2task2_adminhtml>
            </updates>
        </layout>
        <translate>
            <modules>
                <module2task2>
                    <files>
                        <default>Playground_Module2Task2.csv</default>
                    </files>
                </module2task2>
            </modules>
        </translate>
    </adminhtml>
</config>