<?xml version="1.0"?>

<config>
    <modules>
        <Playground_Module1>
            <version>0.1.0</version>
        </Playground_Module1>
    </modules>

    <global>
        <blocks>
            <module1_adminhtml>
                <class>Playground_Module1_Block_Adminhtml</class>
            </module1_adminhtml>
        </blocks>
        <models>
            <module1>
                <class>Playground_Module1_Model</class>
                <resourceModel>module1_mysql4</resourceModel>
            </module1>
            <module1_mysql4>
                <class>Playground_Module1_Model_Mysql4</class>
                <entities>
                    <message>
                        <table>module1_messages</table>
                    </message>
                </entities>
            </module1_mysql4>
        </models>
        <resources>
            <module1_setup>
                <setup>
                    <module>Playground_Module1</module>
                    <class>Playground_Module1_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </module1_setup>
            <module1_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </module1_write>
            <module1_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </module1_read>
        </resources>
        <helpers>
            <module1>
                <class>Playground_Module1_Helper</class>
            </module1>
        </helpers>
    </global>

    <frontend>
        <translate>
            <modules>
                <module1>
                    <files>
                        <default>Playground_Module1.csv</default>
                    </files>
                </module1>
            </modules>
        </translate>
        <routers>
            <module1>
                <use>standard</use>
                <args>
                    <module>Playground_Module1</module>
                    <frontName>messenger</frontName>
                </args>
            </module1>
        </routers>
        <layout>
            <updates>
                <module1>
                    <file>module1.xml</file>
                </module1>
            </updates>
        </layout>
        <events>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <module1>
                        <class>Playground_Module1_Model_Observer</class>
                        <method>addToTopmenu</method>
                    </module1>
                </observers>
            </page_block_html_topmenu_gethtml_before>
        </events>
    </frontend>

    <admin>
        <routers>
            <module1_admin>
                <use>admin</use>
                <args>
                    <module>Playground_Module1_Adminhtml</module>
                    <frontName>messenger-admin</frontName>
                </args>
            </module1_admin>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <module1>
                    <files>
                        <default>Playground_Module1.csv</default>
                    </files>
                </module1>
            </modules>
        </translate>
    </adminhtml>
</config>